127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.1.100   nfsshare nfsshare.lab
192.168.1.101   rhv01   rhv01.lab
192.168.1.102   rhv02   rhv02.lab
192.168.1.103   rhv03   rhv03.lab
192.168.1.104   rhvm    rhvm.lab
192.168.1.105   cloudforms  cloudforms.lab
192.168.1.106   ansible ansible.lab